.submitBtn {
    width: fit-content;
    padding: 8px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.inputElement {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

input {
    width: 30%;
    background-color: #2B394D;
    border: 1px;
    border-radius: 6px 6px;
    border-color: #2B394D;
    font-size: 17px;
} 

.formStyle {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.formStyle a {
    display: block;
    text-align: start;
    font-size: 15px;
}

