body {
}

.header {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.headerTitle:hover {
    color: #7D8490;
    transition: 0.7s;
    transform: scale(1.05);
}

.navigation {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

button {
    background-color: #819CA9;
    border-color: #819CA9;
    border-radius: 8px 8px;
    border-width: 1px;
    height: 30px;
    padding: 5px 8px;
    text-align: center;
}

#registerBtn {
    background-color: #819CA9;
    border-color: #819CA9;
}

button:hover {
    background-color: #6F848E;
    border-color: #6F848E;
    transition: 0.7s;
    /*    transform: scale(1.1);*/
}

#registerBtn:hover {
    background-color: #2B394D;
    border-color: #2B394D;
}